<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DnevnikAplikacija</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

   <!-- My styles-->
  <link href="css/style.css" rel="stylesheet">
  
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
    <a class="navbar-brand" href="#">Dnevnik aktivnosti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pregledAktivnosti">Pregled aktivnosti </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="novaAktivnost">Nova aktivnost <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vrsteAktivnosti">Vrste aktivnosti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kategorije">Kategorije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prioriteti">Prioriteti</a>
        </li>
      </ul>
    </div>
  </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" style="padding: 50px 200px 0px 200px; min-height:800px;" >

					<form action="#" th:action="@{/saveNewActivity}"
						th:object="${newActivity}" method="post">
						<div class="form-row">


							<div class="form-group col-md-6">
								<div class="form-group">
									<label for="inputName">Naziv aktivnosti</label> <input
										type="text" class="form-control" th:field="*{name}"
										id="inputName" placeholder="Naziv aktivnosti" />
								</div>

								<div class="form-group">
									<label for="inputPonavljanje">Ponavljanje</label> <select
										id="inputPonavljanje"
										class="form-group form-control repetition-select"
										th:field="*{repetitionType}" name="repetitionType">
										<option value="None" th:text="Nema"></option>
										<option value="Daily" th:text="Dnevno"></option>
										<option value="Weekly" th:text="Tjedno"></option>
										<option value="Monthly" th:text="Mjesečno"></option>
										<option value="Yearly" th:text="Godišnje"></option>
									</select>

									<div id="None" class="form-group option-target invisible">
										<label for="inputAddress">Zadnje ponavljanje</label> <input
											id="exampleModal" type="date"
											class="form-control"
											th:value="*{finalRepetitionDate}"
											name="finalRepetitionDate" />
									</div>

									<script th:inline="javascript">
       (function(){
    	   // Opt-in to Bootstrap functionality
    	   $('[data-toggle="tooltip"]').tooltip();
    	   $('[data-toggle="popover"]').popover();
    	   // Create variables
    	   var optionsList = document.getElementById("inputPonavljanje"),
    	       allTargets = $('.option-target'),
    	       currentOption,
    	       currentTarget;
    	   // Create Hide and Show Functionality
    	   function hideShowTargets(){
    	     allTargets.each(function(){
    	       this.classList.remove('invisible');
    	     });
    	     currentOption = optionsList.value;
    	     currentTarget = document.getElementById(currentOption);
    	     if(currentTarget){
    	       currentTarget.classList.add('invisible');
    	     }
    	   }
    	   // Add event listener
    	   optionsList.addEventListener('change', hideShowTargets);
    	 })();
       </script>

									<div class="form-group">
										<label for="inputAddress">Planirani početak</label> <input
											id="exampleModal1" type="datetime-local"
											class="form-control" th:value="*{startDate}"
											name="startDate" />
									</div>

									<div class="form-group">
										<label for="inputAddress">Planirani završetak</label> <input
											id="exampleModal2" type="datetime-local"
											class="form-control" th:value="*{endDate}"
											th:name="endDate" />
									</div>

									<div class="form-group">
										<label for="">Prioritet</label> <select
											class="form-group form-control priority-select"
											id="Prioritet"
											th:value="*{priority != null} ? *{priority.id} : '0'"
											name="tempPriorityId">
											<option value="0">Nema prioritet</option>
											<option th:each="priority: ${priorities}"
												th:value="${priority.id}" th:text="${priority.name}"></option>
										</select>
									</div>


									<label for="vrstaAktivnosti">Vrsta aktivnosti</label> <select
										id="vrstaAktivnostiSelect"
										class="form-group form-control activity-type-option"
										name="tempActivityTypeId"
										th:field="*{tempActivityTypeId}"
										text="tempActivityTypeId">
										<option value="0">Odaberi vrstu aktivnosti</option>
										<option th:each="activityType: ${activityTypes}"
											th:value="${activityType.id}" th:text="${activityType.name}"></option>
									</select>

									<div th:each="activityType: ${activityTypes}"
										th:class="'form-group option-target2 invisible primary-group-select ' + ${activityType.id}">
										<label for="inputAddress"
											th:text="${activityType.primaryCategoryGroup.name}"></label>
										<select id="inputPonavljanje"
											class="form-group form-control primary-group-options"
											th:field="*{tempPrimaryCategoryId}">
											<option
												th:each="primaryCategory: ${activityType.primaryCategoryGroup.categories}"
												th:value="${primaryCategory.id}"
												th:text="${primaryCategory.name}"></option>
										</select>
									</div>

									<div th:each="activityType: ${activityTypes}"
										th:class="'form-group option-target2 invisible secondary-group-select ' + ${activityType.id}">

										<label for="inputAddress"
											th:text="${activityType.secondaryCategoryGroup != null} ? ${activityType.secondaryCategoryGroup.name} : 'Nema sekundarne kategorije'"></label>
										<select id="inputPonavljanje"
											class="form-group form-control secondary-group-options"
											th:value="*{tempSecondaryCategoryId}">
											<option
												th:each="secondaryCategory: ${activityType.secondaryCategoryGroup.categories}"
												th:value="${secondaryCategory.id}"
												th:text="${secondaryCategory.name}"></option>
										</select>
									</div>

									<script>
       (function(){
    	   // Opt-in to Bootstrap functionality
    	   $('[data-toggle="tooltip"]').tooltip();
    	   $('[data-toggle="popover"]').popover();
    	   // Create variables
    	   var optionsList = document.getElementById("vrstaAktivnostiSelect"),
    	       allTargets = $('.option-target2'),
    	       currentOption,
    	       currentTargets;
    	   // Create Hide and Show Functionality
    	   function hideShowTargets(){
    		 currentOption = optionsList.value;
        	 currentTargets = document.getElementsByClassName(currentOption);
    	     allTargets.each(function(){
    	       this.classList.add('invisible');
    	       this.querySelector('.form-control').setAttribute("name", "");
    	       if(this.classList.contains(currentOption)) {
    	    	   this.classList.remove('invisible');
    	    	   if(this.classList.contains('primary-group-select')) {
    	    		   this.querySelector('.form-control').setAttribute("name", "tempPrimaryCategoryId");
    	    	   }
    	    	   
    	    	   if(this.classList.contains('secondary-group-select')) {
    	    		   this.querySelector('.form-control').setAttribute("name", "tempSecondaryCategoryId");
    	    	   }
    	       }
    	     });
    	     
    	   }
    	   // Add event listener
    	   optionsList.addEventListener('change', hideShowTargets);
    	 })();
       </script>


									<div class="form-group">
										<div class="form-check">
											<input class="form-check-input" type="checkbox"
												id="gridCheck" value="true" th:checked="*{status}"
												name="status"> <label class="form-check-label"
												for="gridCheck"> Završeno </label>
										</div>
									</div>



								</div>






							</div>
							<div class="form-group col-md-6">
								<label for="formopis">Opis</label>
								<textarea id="formopis" class="form-control"
									placeholder="Unesi opis aktivnosti." rows="19"
									th:text="*{description}" name="description"></textarea>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save
								changes</button>
						</div>
					</form>




				</div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>
